<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
    </startup>
	<appSettings>
		<add key="BOARD_SIZE" value="10"/>
		<add key="SUBMARINES_NUMBER" value="5"/>
		<add key="SUBMARINES_LENGTH" value="5,4,3,3,2"/>

	</appSettings>
</configuration>